body {
    background: url(https://4kwallpapers.com/images/wallpapers/fluidic-glossy-gradient-background-purple-background-1920x1080-7641.jpg);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

.container {
    background-color: #FFFFFF;
    width: 40vw;
    height: 55vh;
    min-width: 40vw;
    max-width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    box-shadow: 15px 10px 15px rgba(0,0,0,0.19), -15px -10px 15px rgba(0,0,0,0.19)
}

/* Changes size of "Sign In" text on top of container */
.sign-in {
    font-size: 2.5em;
    font-weight: 900;
}

/* Adding flexbox to these classes which contain the inputs */
.username-box, .password-box {
    width: 20vw;
    display: flex;
    flex-direction: column;
}


/* This is done so the label isn't too close to the input box */
label {
    height: 3vh;
}

/* Removed default styling of the inputs and added better styling */
#username, #user-password {
    border: none;
    outline: none;
    width: 20vw;
    height: 3vh;
    border-bottom: 2px solid #F7567C;
}

/* Made the placeholder bigger */
#user-password::placeholder, #username::placeholder {
    font-size: 1.2em;
    color: gray;
}

/* styling to submit button */
input[type="submit"] {
    border: none;
    background: linear-gradient(90deg, #5dd9c1, #F7567C, #5F00BA );
    color: white;
    min-width: 10vw;
    min-height: 5vh;
    border-radius: 25px;
}

/* Animation for the submit button when the user hovers over it */
input[type="submit"]:hover {
    animation-name: expand;
    animation-duration: 500ms;
    animation-fill-mode: forwards; 
}

@keyframes expand {
    100% {
        transform: scale(1.2)
    }
}

/* media queries for table screens and lower */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .username-box, .password-box {
        width: 90%;
    }

    #username, #user-password {
        width: 90%;
    }
}